/******************* FUNCTIONNING SECTION *******************/
.function-choices__button {
	background-color: $gray-light;
	// background-color: red;
	width: 90%;
	border-radius: 20px;
	margin-bottom: 10px;

	border: none;
	display: flex;

	align-items: center;
	@include tablet {
		// background-color: aqua;
		margin-left: 20px;
	}

	&--numbers {
		background-color: #9355dc;
		position: relative;
		left: -10px;
		color: white;
		padding: 7px 11px 7px 11px;
		border-radius: 25px;
		@include desktop {
			margin-left: -5px;
		}
	}
	i {
		margin-right: 20px;
	}
	&:hover {
		background-color: lightblue;
	}
}
.fa-store {
	color: $color-primary;
}
.functionning__section {
	// background-color: red;
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@include tablet {
		display: flex;
		flex-direction: row;
	}
}
.section__functionning-content {
	// @include desktop {
	// 	// background-color: lightcoral;
	// 	@include content-desktop;
	// }
	// width: 80%;
	// margin: 0px 100px;
}
.section__h2--functionning {
	@include desktop {
		width: 80%;
		margin: 15px 130px;
	}
}
.restaurant__section .section__h2 {
	@include desktop {
		margin-left: 140px;
	}
}
