.loader {
	background-color: #fff;
	opacity: 0.9;
	position: fixed;
	// inset: top right bottom left à 0px
	inset: 0px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: disappear 3s;
	animation-fill-mode: forwards;
	i {
		animation: spin 1.5s;
	}
}
.load {
	margin: 0 15px;
	animation: loader infinite 300ms alternate;
}
.load1 {
	animation-delay: 0.05s;
	color: $color-primary;
}
.load2 {
	animation-delay: 0.1s;
	color: $color-secondary;
}
.load3 {
	animation-delay: 0.2s;
	color: $color-tertiary;
}
.load4 {
	animation-delay: 0.3s;
	color: $color-tertiary-strong;
}
.load5 {
	animation-delay: 0.4s;
	color: $darkblue;
}
.load6 {
	animation-delay: 0.5s;
	color: $color-primary;
}
@keyframes loader {
	100% {
		transform: translateY(-30px);
	}
}
@keyframes disappear {
	100% {
		// transform: scale(1);
		visibility: hidden;
	}
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
