.loader {
	background-color: #fff;

	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	inset: 0;
	z-index: 1;
	opacity: 0.9;
	animation: disappear 3s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	i {
		animation: spin 3s infinite;
	}
}
.loader-one {
	position: absolute;
	color: $color-tertiary;
}
.loader-two {
	position: relative;
	color: $color-secondary;
}

@keyframes disappear {
	100% {
		// transform: scale(0);
		visibility: hidden;
	}
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
