/******************* RESTAURANT SECTION *******************/
.restaurant__section {
	background-color: $gray-light;
	// background-color: red;
	padding-top: 20px;
	padding-bottom: 1px;
	// margin: 0px 0px 15px 0px;
}
.grid__section {
	@include tablet {
		// background-color: red;
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		// @include desktop {
		// 	// background-color: lightblue;
		// 	@include content-desktop;
		// }
	}
}
.photo-restaurant {
	// background-color: red;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 100%;
	height: 170px;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
	@include mobile {
		object-position: 100% 80%;
	}
	&--lapalette {
		@include desktop {
			object-position: 100% 65%;
		}
	}
	&--lanote {
		object-position: 90% 57%;
	}
}
.new-restaurant {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 15px;
	background-color: #99e2d0;
	color: #178766;
	border-radius: 5px;
	top: 5px;
	right: 15px;
	padding: 10px;
	position: absolute;
}
.restaurant__section--relative {
	position: relative;
}
.restaurant__section--cards {
	background-color: white;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	margin: 0px 10px 20px 10px;

	// padding-left: 10px;
	// padding-right: 10px;
	// margin-bottom: 15px;
	&:hover {
		@include object-shadow($shadow);
	}
}
.restaurant__section--content {
	// background-color: blue;
	height: auto;
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.restaurant__section--txt {
	// background-color: darkgreen;
	display: flex;
	flex-direction: column;
	padding: 0 0 10px 10px;

	h3 {
		// background-color: red;
		margin-bottom: 5px;
	}
}
