// @mixin linear-gradient($degree, $color1, $color2) {
// 	background: linear-gradient($degree, $color1 0%, $color2 100%);
// }
@mixin linear-gradient($degree, $color1, $color2) {
	background-image: linear-gradient($degree, $color-secondary, $color-primary);
}

@mixin button-shadow {
	box-shadow: 0 5px 10px $shadow;
}
@mixin object-shadow($color: $shadow) {
	box-shadow: 0px 5px 8px $color;
}
@mixin content-desktop {
	width: 80%;
	margin: 0px 100px;
}
