/******************* HEADER *******************/
.header__logo {
	display: flex;
	justify-content: center;

	&--img {
		// background-color: red;
		width: 30%;
		height: auto;
		padding: 10px 0;
		@include tablet {
			width: 20%;
		}
		@include desktop {
			width: 15%;
		}
	}
}

.header__location {
	background-color: #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;

	&--icon {
		margin-right: 10px;
	}
}

.explore__section {
	background-color: #f6f6f6;
	// background-color: lightgreen;
	height: 200px;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	align-content: center;
	padding: 20px 45px 40px 45px;
}
